*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.7;
    overflow-x: hidden;
}

li{
    list-style: none;
}

img{
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

img:hover{
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: #111;
}

p{
    cursor: pointer;
}


h5{
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

i{
    cursor: pointer;
}

li{
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center;     /* Vertically center the text */
    text-align: center;      /* Ensure text alignment within the button */
    padding: 10px 20px;      /* Optional: Adjust padding for better appearance */
}


.nav-con1{
    background-color: #b8e1f9;
    align-items: center;
    text-align: center;
}

.nav-con2{
    display: flex;
    justify-content: space-evenly;
    background: #f8f8f8;
}

.nav-con2b{
    background-color: #f8f8f8;
    color: #ff9900;
    display: flex;
    align-items: center;
    line-height: 20px;
}

.nav-con2 img{
    width: 50px;
    margin: none;
}

.nav-con2b p{
    margin: 0;
    font-weight: bold;
}

.nav-con3{
    padding: 0 50px;
    display: flex;
}

.nav-con3a img{
    width: 130px;
}

.nav-con3 form{
    max-width: 500px;
}

.nav-con3 button{
    max-height: 40px;
    background-color: #f68b1e;
    color: #fff;
    border: 1px solid #f68b1e;
}

.nav-con3a1{
    margin-left: 140px;
    padding-right: 0;
    position: relative;
}

.nav-con3a1 form{
    margin-left: 20px;
}

.nav-con3b{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.nav-con3b1{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-con3b1 a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: #111;
}

.dropdown-center{
    display: flex;
}

.dropdown-menu{
    width: 200px;
}

.drp{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.click-effect{
    transition: transform 0.5s, box-shadow 0.1s;
}

.click-effect:active{
    transform: translateY(2px);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}


.nav-con3b1 p{
    margin: 0;
}

.nav-con3b1 .icon1{
    margin: 0;
}

.showcase{
    background: url(../img/tadeusz-zachwieja-2IsCJ6r2klE-unsplash.jpg) no-repeat center center / cover;
    padding: 20px 40px;
}

.showcase-container1{
    display: flex;
}

.showcase ul{
    list-style: none;
    background-color: #fff;
    color: #303032;
    line-height: 30px;
    font-weight: 400;
    padding: 0 50px 0 10px;
    border-radius: 2px;
}


.showcase-b{
    margin: 0 20px 20px;
}

.showcase-b img{
    border-radius: 6px;
    overflow: hidden;
    transition: transform 1s ease;
    overflow: hidden;
}

.carousel{
    max-width: 700px;
}

.showcase-b img:hover{
    transform: scale(1.03);
}

.showcase-c{
    display: grid;
    grid-template-rows:1fr 1fr;
}


.showcase-c1{
    position: relative;
    display: grid;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    border-radius: 2px;
}

.showcase-c1 p{
    line-height: 30px;
}

.showcase-c1 p:nth-child(2){
    position: absolute;
    display: block;
    font-size: 12px;
    margin-top: -15px;
    top: 40px;
    right: 90px;
}

.showcase-c2 img{
    border-radius: 2px ;
}

.showcase-container2{
    background: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 8px;
}

.showcase-d img{
    border-radius: 4px;
}

.showcase-d img:first-child{
    margin: 7px;
}

.showcase3a{
    background-color: #e61601;
    margin-top: 10px;
    margin-right: 9px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.showcase3a1{
    display: flex;
    gap: 10px;
    padding-left: 20px;
}

.showcase3a2{
    margin-top: -8px;
}

.showcase3a3{
    display: flex;
    gap:5px;
    padding-right: 20px;
}

.showcase3a3 i{
    margin-top: -2px;
}

.showcase-container4{
    background-color: #fff;
    max-width: 1175px;
}

.showcase4a{
    display: flex;
    justify-content: space-between;
}

.showcase4a img{
    width: 170px;
}

.showcase4a-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: end;
}

.showcase4a-img ul{
    align-items: center;
    justify-content: center;
}

.price{
    font-weight: bold;
    margin: none;
}

.former-price{
    font-size: small;
    margin: none;
    font-style: italic;
    text-decoration: line-through;
    text-decoration-color: gray;
    text-decoration-thickness: 1.5px;
}


/* CLEARANCE SALE */
.clearance-sale{
    background: #ffd3d9;
    margin-top: -20px;
    padding: 10px 49px;
}

.con1{
    background: #fff;
    margin-left: -10px;
    padding: 15px 0 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    margin-bottom: 20px;
}

.con1 img{
    width: 185px;
    border-radius: 4px;   
}

.con1b{
    background: #fff;
    margin-top: 30px;
    margin-left: -10px;
    padding: 10px 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.con1b img{
    border-radius: 4px;
}

.top-sellers{
    background-color: #f1f1f2;
    padding: 10px 40px;
    margin-top: -10px;
}

.area1{
    background-color: #fff;
}

.area2{
    padding: 15px;
}

.area3{
    display: flex;
}

.area3 img{
    width: 170px;
}

.area3 ul{
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.top-sellers2 .con1b{
    background-color: #f1f1f2;
}

.top-sellers2{
    background-color: #b8e1f9;
    padding: 10px 40px;
    margin-top: -10px;
}

.phones{
    background-color: #b8e1f9;
    padding: 10px 30px;
}

.phones-cont{
    background-color: #fff;
}



.phones-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.phones-container img{
    width: 170px;
}

.phones-cont2{
    background-color: #82aec8;
}

.appliances{
    background-color: #20ac76;
    padding: 10px 30px;
    margin-top: -10px;
}

.phones-cont3{
    background-color: #fff;
}

.beauty{
    background-color: pink;
    margin-top: -10px;
}

.footer{
    background-color: #535357;
    color: #fff;
    padding-top: 20px;
    
}

.footer-cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
    position: relative;
}

.main-footer{
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0 15px;
    font-size: 13px !important;
}

.footer-cont li{
    color: #f1f1f2;
    font-size: 12px;
}

.footer2 {
    display: flex;
    gap: 30px;
}

.divider{
    width: 400% ;
    height: 3px;
    border-top: 1px #c6c6dc solid;
    margin: 10px 0;
}

.socials{
    position: absolute;
    bottom: -190px;
    left: 25px;
    border: solid 1px #fff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.socials:hover{
    transform: scale(1.03);

}

.socials .main-footer{
    font-size: 20px !important;
}

.footer-cont .icons{
    display: flex;
    gap: 60px;
}

.icons i{
    transition: transform 0.5s ease, color 0.5s ease;
}

.icons i:hover{
    transform: scale(1.3);
    color: #f68b1e;
}

@media(max-width: 768px){
    .showcase-c1, .showcase-c2 {
        display: none;
    }

    .showcase-container2{
        display: flex;
        flex-direction: column;
        background: none;
        align-items: center;
        justify-content: center;
    }

    .showcase img{
        width: 280px;
    }
        







}

@media(max-width: 1100px){
    .showcase-container1{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .showcase-container1 .showcase-a{
        display: none;
    }

    .showcase-c{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: -30px 0 -10px;

    }

    .showcase-c1{
        width: 200px;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

    }

    .showcase-c1 p:nth-child(2){
        position: static;
    }

    .showcase-d img{
        width: 280px;
    }

    .showcase4a-img{
        width: 150px;
    }

    .showcase4a-img img{
        width: 100px;
    }

    .con1 img{
        width: 100px;
    }

    .con1b img{
        width: 410px;
    }
}